<?xml version="1.0"?>
<config>
    <modules>
        <Kasterweb_Tnt>
            <version>0.0.1</version>
        </Kasterweb_Tnt>
    </modules>
    <global>
        <models>
            <kasterweb_tnt>
                <class>Kasterweb_Tnt_Model</class>
                <resourceModel>kasterweb_tnt_resource</resourceModel>
            </kasterweb_tnt>
            <kasterweb_tnt_resource>
                <class>Kasterweb_Tnt_Model_Resource</class>
            </kasterweb_tnt_resource>
        </models>
        <blocks>
            <kasterweb_tnt>
                <class>Kasterweb_Tnt_Block</class>
            </kasterweb_tnt>
        </blocks>
        <helpers>
            <kasterweb_tnt>
                <class>Kasterweb_Tnt_Helper</class>
            </kasterweb_tnt>
        </helpers>
    </global>
    <frontend>
        <routers>
            <kasterweb_tnt>
                <use>standard</use>
                <args>
                    <module>Kasterweb_Tnt</module>
                    <frontName>tnt</frontName>
                </args>
            </kasterweb_tnt>
        </routers>
    </frontend>
    <default>
        <carriers>
            <kasterweb_tnt>
                <active>0</active>
                <sallowspecific>1</sallowspecific>
                <name>Kasterweb TNT Mercúrio</name>
                <title>Transportadora TNT</title>
                <model>kasterweb_tnt/carrier</model>
                <specificcountry>BR</specificcountry>
            </kasterweb_tnt>
        </carriers>
        <kasterweb_tnt>
            <general>
                <file_log>kasterweb_tnt.log</file_log>
                <!-- CORE CONFIG DATA -->
                <path_module_login_empresa>kasterweb_tnt/kasterweb_tnt_shipping_quote/login_empresa</path_module_login_empresa>
                <path_module_linkwebservice>kasterweb_tnt/kasterweb_tnt_shipping_quote/link_webservice</path_module_linkwebservice>
                <!-- CORE CONFIG DATA -->
            </general>
        </kasterweb_tnt>
    </default>
</config>