<?xml version="1.0"?>
<config>
    <sections>
        <carriers>
            <groups>
                <kasterweb_tnt translate="label">
                    <label>Kasterweb TNT Mercúrio</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                     <comment><![CDATA[
                    Copyright: <a href="http://www.kasterweb.com.br" target="_blank"> Kasterweb - (http://http://www.kasterweb.com.br/) </a> <br />
                    Author: Luan Alves - luan.prog@gmail.com <br />
                    License: http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0) <br />
                    Module: <a href="https://www.tnt.com/express/pt_br/site/home/applications/mercurio_traking.html" target="_blank">TNT MERCÚRIO - https://www.tnt.com/express/pt_br/site/home/applications/mercurio_traking.html</a>
                    ]]></comment>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Shipping Method Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                        <link_webservice>
                            <label>Link do Webservice</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Link do Webservice da TNT ex:
                                "http://ws.tntbrasil.com.br/servicos/CalculoFrete?wsdl"
                            </comment>
                        </link_webservice>
                        <login_empresa>
                            <label>E-mail de Login</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>É o email que o setor Comercial irá cadastrar como login</comment>
                        </login_empresa>
                        <ident_cliente>
                            <label>Identificador do Remetente</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Identificador do Remetente CGC ou CPF (solicitar ao comercial da TNT).</comment>
                        </ident_cliente>
                        <situacaotributaria>
                            <label>Situação Tributária</label>
                            <frontend_type>select</frontend_type>
                            <source_model>kasterweb_tnt/config_source_taxSituation</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </situacaotributaria>
                        <insc_estadual>
                            <label>Inscrição Estadual</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>33</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </insc_estadual>
                        <tipo_pessoa>
                            <label>Tipo de pessoa do remetente</label>
                            <frontend_type>select</frontend_type>
                            <source_model>kasterweb_tnt/config_source_tipopessoa</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </tipo_pessoa>
                        <divisao_cliente>
                            <label>Divisão do cliente</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Long numérico com o código da divisão do cliente. Ligar para o Comercial para pedir
                                esta informação.
                            </comment>
                        </divisao_cliente>
                        <tipo_frete>
                            <label>Tipo de Frete</label>
                            <frontend_type>select</frontend_type>
                            <source_model>kasterweb_tnt/config_source_tipofrete</source_model>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Tipo de Cobrança do Frete</comment>
                        </tipo_frete>
                        <tp_servico>
                            <label>Tipo de Serviço</label>
                            <frontend_type>select</frontend_type>
                            <source_model>kasterweb_tnt/config_source_tpservico</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tp_servico>

                    </fields>
                </kasterweb_tnt>
            </groups>
        </carriers>
    </sections>
</config>
